
@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset id="navpagefieldset">

    <div id="navBody">

        <table>

            @*not template begin*@

            <tr>
                <td>
                    <iframe align="middle" style="vertical-align:top; width: 910px" frameborder="0" src="https://secure.sterlingdirect.com/jobboard/default.aspx?JOBBOARDID=58&amp;" height="700" scrolling="auto"></iframe>

                </td>
            </tr>


            @*not template end*@

        </table>

    </div>

</fieldset>
