
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset id="navpagefieldset">

    <div class="navHeader">
        Frequently Asked Questions
    </div>

    <div id="navBody">

        <table>

            @*not template begin*@

            <tr>
                <td style="width: 620px">
                    <ul>
                        <li id="navBodyLi"><a href="#1">Why Loan Participations?</a></li>
                        <li id="navBodyLi"><a href="#2">What is Loan Participation?</a></li>
                        <li id="navBodyLi"><a href="#3">Is there a fixed percentage that the originating Credit Union must retain?</a></li>
                        <li id="navBodyLi"><a href="#4">Who is responsible for servicing?</a></li>
                        <li id="navBodyLi"><a href="#5">What are the risks involved?</a></li>
                        <li id="navBodyLi"><a href="#6">What types of loans can be participated?</a></li>
                        <li id="navBodyLi"><a href="#7">How does the NCUA look upon these arrangements?</a></li>
                        <li id="navBodyLi"><a href="#8">Are these arrangements only for those Credit Unions that are experiencing tight liquidity?</a></li>
                        <li id="navBodyLi"><a href="#9">What should the Loan Participation Agreement include?</a></li>
                    </ul>
                    <br />

                    <strong><a name="1"></a>Why Loan Participations?</strong><br />
                    Loan Participations are a convenient, low-risk way to improve your
                    loan to share ratio, expand your asset base, diversify your portfolio
                    and provide member service.

                    <br /><br />

                    <strong><a name="2"></a>What is Loan Participation?</strong><br />
                    Loan Participation is the shared funding of loans to the client/members
                    of the originating Credit Union. The originator, through the retained
                    portion of each loan, is the only visible Credit Union in the eyes
                    of its client/members. Credit Union participants can share the funding
                    of a loan maximizing income potential.

                    <br /><br />

                    <strong><a name="3"></a>Is there a fixed percentage that the originating Credit Union must retain?</strong><br />
                    The originating Credit Union must retain at least 10 percent of
                    each loan. Beyond this, there are no mandated proportions. Whatever
                    split is decided upon, the participating credit unions should achieve
                    a desired level of comfort that is agreeable to all parties involved. 

                    <br /><br />

                    <strong><a name="4"></a>Who is responsible for servicing?</strong><br />
                    If you possess the capabilities to handle the servicing, you may
                    continue to do so. This includes monthly reports and distribution
                    of principal and interest. It is possible to out-source the servicing
                    to a participating credit union or third-party servicing organization,
                    however all parties must determine this prior to the participation
                    agreement.

                    <br /><br />

                    <strong><a name="5"></a>What are the risks involved?</strong><br />
                    The risk of participation loans are similar to the risks
                    involved of the existing loans on your books. The one exception to this
                    is the geographic distance between the different Credit Unions.
                    Through proper screening of the originating Credit Union and their
                    underwriting process, a comfort level can be achieved.

                    <br /><br />

                    <strong><a name="6"></a>What types of loans can be participated?</strong><br />
                    The most common types are mortgage and auto loans. However, any
                    type of loan may be eligible.

                    <br /><br />

                    <strong><a name="7"></a>How does the NCUA look upon these arrangements?</strong><br />
                    The NCUA Chairman has been conspicuously vocal regarding loan participation.
                    The examiner wants to see an agreement and that you participate
                    in loans, and that you are permitted to underwrite in-house. Additionally,
                    they want to see that you retain at least 10% of each loan as the
                    originator, or up to 90% as the participant. The NCUA understands
                    the strength derived from Credit Unions working together, but ongoing
                    due-diligence is mandatory.

                    <br /><br />

                    <strong><a name="8"></a>Are these arrangements only for those Credit Unions that are experiencing tight liquidity?</strong><br />
                    While they are certainly candidates for participation, credit unions
                    of any size or structure should consider them.<br /><br />
                    Smaller Credit
                    Unions with limited resources can benefit from them, allowing them
                    to compete with the larger organizations. Credit Unions that have
                    balance sheets over-weighted in one type of loan can use participations
                    to diversify. Many Credit Unions find themselves too heavily weighted
                    in mortgages. The quickest way to diversify would be to participate
                    off a portion of the mortgage portfolio, participate in short-term
                    consumer loans of other Credit Unions, or both.<br /><br />
                    A Credit Union
                    trying to improve the return on assets can use a multiplier strategy.
                    This is where the same funding is used over again to generate fee
                    income. Participate 90% of $1 million in auto loans 4 times, each
                    time retaining 10 percent of every loan, and the return of 8% yields
                    closer to 10%. This only works if the credit union has the volume
                    to roll over the funded portion each time it enters the participation
                    market.

                    <br /><br />

                    <strong><a name="9"></a>What should the Loan Participation Agreement include?</strong><br />
                    Over the last couple of years, through many revisions and input
                    from our participating partners, BPLLC has developed what we consider
                    to be a very thorough yet understandable Loan Participation Agreement.<br /><br />
                    The agreement
                    should be written in simple contract form and easy to comprehend.
                    The agreement loses its value if it is difficult to comprehend by
                    your self, directors or staff. To begin, it needs to define key
                    terminology, types of loans, and basic contractual information.
                    The agreement should include sample participation documents, and
                    terms and conditions elaborating on the agreement's stipulations.
                    The agreement needs to outline the servicing and collection responsibilities,
                    as well as the fees attached to these obligations.<br />
                    The agreement should also define the participant's right to
                    resell or transfer their share of the participation and dictate
                    the right of first refusal for all other parties.

                </td>
                <td style="vertical-align: top;">
                    
                </td>
            </tr>


            @*not template end*@

        </table>

    </div>

</fieldset>
