
@{
    ViewBag.Title = "Industry News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset id="navpagefieldset">

    <div class="navHeader">
        Industry News
    </div>

    <div id="navBody">

        <table>

            @*not template begin*@

            <tr>
                <td>

                    <a href="/Downloads/IndustryNews.pdf" target="_blank">
                        <strong>What you need to know to start doing effective Member Business Lending in your credit union – First in a Series</strong>
                    </a>
                        
                    <br /><br />

                    <a href="/Downloads/Spread and Yield Considerations in MBL.pdf" target="_blank">
                        <strong>Spread and Yield Considerations in MBL - Second in a Series</strong>
                    </a>

                </td>

            </tr>


            @*not template end*@

        </table>

    </div>

</fieldset>

