
@{
    ViewBag.Title = "Loans CRE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset id="navpagefieldset">

    <div class="navHeader">
        Commercial Real Estate
    </div>

    <div id="navBody">

        <table>

            @*not template begin*@

            <tr>
                <td style="width: 620px">
                    Business Partners, LLC is the perfect partner to finance your commercial property.  Our Commercial Real Estate Loan program makes it quick and easy to fund the right loan to meet your demands.

                    <br /><br />

                    <img src="/images/LoanPrograms/BusinessChart.gif" style="width: 600px" title="Business Chart" />
                    <br /><br />

                    <strong>Who Can Qualify?</strong><br />
                    Any commercial real estate owner can apply for a Business Partners loan, even if you are not already a member of a credit union.
                    <br /><br />

                    <strong>What Types of Properties Qualify?</strong><br>
                    Business Partners can finance a wide range of properties. Loans we have financed include:<br />
                    <ul>
                        <li id="navBodyLi">Industrial</li>
                        <li id="navBodyLi">General Offices</li>
                        <li id="navBodyLi">Creative and Professional Office Space</li>
                        <li id="navBodyLi">Anchored Retail</li>
                        <li id="navBodyLi">Factory Outlets</li>
                        <li id="navBodyLi">Mini Storage</li>
                        <li id="navBodyLi">Congregate Care</li>
                        <li id="navBodyLi">Religious Buildings</li>
                    </ul>
                    <br />

                    <strong>How Much Can Be Borrowed?</strong><br />
                    <ul>
                        <li id="navBodyLi">$500,000 minimum</li>
                        <li id="navBodyLi">$30,000,000 maximum</li>
                    </ul>
                    <br />

                    <strong>Why choose Business Partners?</strong><br />


                    <ul>
                        <li id="navBodyLi">No Prepayment Penalty option available</li>
                        <li id="navBodyLi">Amortize up to 30 years</li>
                        <li id="navBodyLi">Up to 75% Loan To Value (80% if Owner Occupied)</li>
                        <li id="navBodyLi">Rapid processing time, most loans close within 45 days</li>
                        <li id="navBodyLi">Low processing and third party fees</li>
                        <li id="navBodyLi">Competitive rates</li>
                        <li id="navBodyLi">No reserves or impounds required</li>
                        <li id="navBodyLi">Loans available nationwide</li>
                    </ul>

                </td>

            </tr>


            @*not template end*@

        </table>

    </div>

</fieldset>


