
@{
    ViewBag.Title = "Loans SBS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset id="navpagefieldset">

    <div class="navHeader">
        Small Business Services
    </div>

    <div id="navBody">

        <table>

            @*not template begin*@

            <tr>
                <td style="width: 620px">
                    The small business market is a huge opportunity for credit unions, <em>right now</em>.
                    Business Partners, LLC can help your credit union develop and implement
                    a highly competitive small business loan program. We provide a fast,
                    safe and profitable solution for credit unions that want to be part
                    of this exciting growth opportunity.

                    <br /><br />

                    <img src="/images/LoanPrograms/SBSChart.gif" style="width: 600px" title="SBS Chart" />
                    <br /><br />

                    <strong>What Businesses Qualify For A Small Business Loan?</strong><br>
                    Any business meeting the following criteria:<br />
                    <ul>
                        <li id="navBodyLi">Qualifies for membership at your credit union</li>
                        <li id="navBodyLi">Acceptable minimum business/personal credit score</li>
                        <li id="navBodyLi">In business at least two years</li>
                        <li id="navBodyLi">Acceptable industry type (i.e., not excluded by your/our policy)</li>
                    </ul>

                    <br />

                    <strong>How Much Can Be Borrowed?</strong><br />
                    <ul>
                        <li id="navBodyLi">$250,000 maximum relationship</li>
                        <li id="navBodyLi">$25,000 minimum relationship</li>
                    </ul>

                    <br />

                    <strong>Why Choose Business Partners?</strong><br />
                    <ul>
                        <li id="navBodyLi">Comprehensive, highly competitive small business program methodology</li>
                        <li id="navBodyLi">Proven, experienced small business staff</li>
                        <li id="navBodyLi">Rapid program implementation (&lt;90 days)</li>
                        <li id="navBodyLi">Dedicated small business sales professionals experienced in your market</li>
                        <li id="navBodyLi">Fast, efficient underwriting via ASP (web) &#8230; receive answers on your applications  within 1 business day for conventional loans, 3 business days  for SBA Express loans</li>
                        <li id="navBodyLi">Fully outsourced document, security filing, and loan servicing solution</li>
                        <li id="navBodyLi">BP works exclusively with your credit union in your market</li>
                    </ul>

                    <br />

                    <hr size="1" style="color:#3c903a; ">

                    <br />

                    <div class="navHeader">
                        Non-SBS Process at Business Partners, LLC
                    </div>
                    <br />

                    <strong>Can I use the Business Partners underwriting process for other
                        business loan products that my credit union offers outside the
                        BPLLC SBS program?
                    </strong><br /><br />

                    Yes, you can use our underwriting process for the following loan products:<br />

                    <ul>
                        <li id="navBodyLi">Business Overdraft Protection Lines</li>
                        <li id="navBodyLi">Business VISA&reg; Cards</li>
                        <li id="navBodyLi">Commercial Vehicle Loans</li>
                    </ul>

                    <br />

                    We provide the credit training and underwriting and you provide
                    the sales, documentation, servicing and other roles for the Non-SBS
                    loan program services, as shown in the chart below. You would administer
                    the non-SBS loan programs on your core system as you do other credit
                    union loan programs such as auto or home loans.

                    <br /><br />

                    <img src="/images/LoanPrograms/Non-SmallBusinessServicesChart.gif" style="width: 600px" title="SBS Chart" />

                </td>
 
            </tr>


            @*not template end*@

        </table>

    </div>

</fieldset>

