
@{
    ViewBag.Title = "Loans SBA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset id="navpagefieldset">

    <div class="navHeader">
        Small Business Administration
    </div>

    <div id="navBody">

        <table>

            @*not template begin*@

            <tr>
                <td style="width: 620px">
                    Business Partners provides U.S. Small Business Administration (SBA) loans to new and existing companies. SBA loans are government-guaranteed loans that
                    help businesses start, expand and prosper. These loans may be obtained to fund real estate, equipment purchases, major business renovations
                    and supply working capital.

                    <br /><br />

                    What is a small business?  SBA's size standards define whether a business entity is small and thus, eligible for government programs and preferences reserved for &quot;small business&quot; concerns. Size standards have been established for all for-profit economic activities, or industries, in the North American Industry Classification System (NAICS). For more information, <a href="http://www.sba.gov/size/">visit SBA's Size Standards web site</a>.
                    <br /><br />

                    For detailed information about the Small Business Administration visit the SBA website <a href="http://www.sba.gov">www.sba.gov</a>.
                    <br /><br />

                    Once you are ready, Business Partners is your last stop.


                </td>

            </tr>


            @*not template end*@

        </table>

    </div>

</fieldset>
