
@{
    ViewBag.Title = "Partner With Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset id="navpagefieldset">

    <div class="navHeader">
        Partner With Us
    </div>

    <div id="navBody">

        <table>

            @*not template begin*@

            <tr>
                <td style="width: 620px">
                    The cost of developing and supporting a commercial real estate or small business<br />
                    loan program within your own organization can make growing your loan portfolio difficult.<br />
                    That’s where Business Partners offers you a distinct advantage. With our infrastructure <br />
                    you can originate loans and have them underwritten and serviced faster with little or <br />
                    no internal staff. Business Partners does it all for you. We’ll help you to develop or review<br />
                    policies and procedures, diversify your portfolio, and create new lending relationships<br />
                    based on your tolerance for risk.<br /><br />
                    By combining the strength of your client relationships with our loan origination and<br />
                    support services, your organization can expand the business you do in your own<br />
                    marketplace, or participate in a robust national loan portfolio with other institutions.<br />
                    We work with you to tailor your lending programs to your specific needs and to design<br />
                    policies and procedures that address all regulatory and best practices standards. <br />
                    Whether you work withBusiness Partners on one loan or your entire portfolio, you can rely<br />
                    on our team to meet and exceed your expectations to create bottom line growth.

                </td>
                <td style="vertical-align: top;">
                    <img src="/images/AboutUs/Partner with us.jpg" width="280" title="Partner With Us" />
                </td>
            </tr>


            @*not template end*@

        </table>

    </div>

</fieldset>

