
@{
    ViewBag.Title = "Recent Fundings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>

<fieldset id="navpagefieldset">

    <div class="navHeader">
        Recent Fundings
    </div>

    <div id="navBody">

        <table>

            @*not template begin*@

            <tr>
                <td>
                    Business Partners
                    specializes in funding a wide range of property types in a variety of markets nationwide<br />
                    by working closely with our broker partners. Below are some of the properties we've recently funded.<br />
                    For more information on becoming an approved broker partner, please <a href="/Home/Broker">
                        click here</a>.<br /><br />
                </td>
            </tr>

            <tr>
                <td>
                    <div id="accordion">

                        <h3>Multi-Family</h3>

                        <div id="navBody">

                            <table style="background-color: #FFFACD; border: none">

                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5909916082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Multi-Family / Extended Stay Portfolio</strong><br /><br />
                                        <strong>Columbus, GA & Wichita, KS</strong><br />
                                        <strong><font color="red">$9,185,000</font></strong>
                                    </td>
                                </tr>                               

                            </table>

                        </div>

                        <table><tr><td colspan="2" height="10"></td></tr></table>

                        <h3>Office</h3>

                        <div id="navBody">

                            <table style="background-color: #FFFACD; border: none; ">
                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5975908082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Class A Office</strong><br /><br />
                                        <strong>Anchorage, AK</strong><br />
                                        <strong><font color="red">$21,000,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>

                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5921354082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Single Tenant Office GSA Lease</strong><br /><br />
                                        <strong>Burbank, CA</strong><br />
                                        <strong><font color="red">$9,100,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>


                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5902480382.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Single Tenant Office</strong><br /><br />
                                        <strong>Pleasanton, CA</strong><br />
                                        <strong><font color="red">$3,000,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>


                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5976375082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Single Tenant Office</strong><br /><br />
                                        <strong>Dawsonville, GA</strong><br />
                                        <strong><font color="red">$1,570,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>


                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5906274082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Office</strong><br /><br />
                                        <strong>Sacramento, CA</strong><br />
                                        <strong><font color="red">$3,100,000</font></strong>
                                    </td>
                                </tr>

 
                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>


                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5925790083.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>SSA Office</strong><br /><br />
                                        <strong>Chillicothe, OH</strong><br />
                                        <strong><font color="red">$1,450,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>


                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5900628082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Office</strong><br /><br />
                                        <strong>Galveston, TX</strong><br />
                                        <strong><font color="red">$7,870,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>


                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5964365082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Medical Office</strong><br /><br />
                                        <strong>Houston, TX</strong><br />
                                        <strong><font color="red">$2,900,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>

                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5941561084.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Office</strong><br /><br />
                                        <strong>San Diego, CA</strong><br />
                                        <strong><font color="red">$3,700,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>

                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5992581082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Single Tenant / GSA Lease</strong><br /><br />
                                        <strong>Chula Vista, CA</strong><br />
                                        <strong><font color="red">$5,835,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>

                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5991036082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Multi-Tenant Office</strong><br /><br />
                                        <strong>Sandy Spring, CA</strong><br />
                                        <strong><font color="red">$12,250,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>

                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5901083084.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Multi-Tenant Office</strong><br /><br />
                                        <strong>Houston, TX</strong><br />
                                        <strong><font color="red">$3,095,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5957506082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Multi-Tenant Office</strong><br /><br />
                                        <strong>Murray, UT</strong><br />
                                        <strong><font color="red">$6,000,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5940408082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Office</strong><br /><br />
                                        <strong>Clovis, CA</strong><br />
                                        <strong><font color="red">$2,330,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5966187082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Multi-Tenant Office</strong><br /><br />
                                        <strong>Fresno, CA</strong><br />
                                        <strong><font color="red">$9,000,000</font></strong>
                                    </td>
                                </tr>

                            </table>

                        </div>


                        <table><tr><td colspan="2" height="10"></td></tr></table>

                        <h3>Industrial</h3>

                        <div id="navBody">

                            <table style="background-color: #FFFACD; border: none; ">

                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5984623082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Industrial Park</strong><br /><br />
                                        <strong>Houston, TX</strong><br />
                                        <strong><font color="red">$3,300,000</font></strong>
                                    </td>
                                </tr>
                            </table>
                        </div>


                        <table><tr><td colspan="2" height="10"></td></tr></table>

                        <h3>Special Purpose</h3>

                        <div id="navBody">

                            <table style="background-color: #FFFACD; border: none; ">

                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5921047082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Skilled Nursing Facilities</strong><br /><br />
                                        <strong>Columbus, TX</strong><br />
                                        <strong><font color="red">$8,075,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>

                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5954610083.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Parking Lot LAX Car Rental Lot</strong><br /><br />
                                        <strong>Los Angeles, CA</strong><br />
                                        <strong><font color="red">$7,100,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>


                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5965134083.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Health Care Portfolio</strong><br /><br />
                                        <strong>Pasadena, CA</strong><br />
                                        <strong><font color="red">$42,000,000</font></strong>
                                    </td>
                                </tr>

                            </table>

                        </div>


                        <table><tr><td colspan="2" height="10"></td></tr></table>

                        <h3>Self-Storage</h3>

                        <div id="navBody">

                            <table style="background-color: #FFFACD; border: none; ">

                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5975156084.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Self Storage</strong><br /><br />
                                        <strong>Las Vegas, NV</strong><br />
                                        <strong><font color="red">$6,000,000</font></strong>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <table><tr><td colspan="2" height="10"></td></tr></table>

                        <h3>Mixed Use</h3>

                        <div id="navBody">

                            <table style="background-color: #FFFACD; border: none; ">

                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5974837083.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Mixed Use</strong><br /><br />
                                        <strong>Santa Ana, CA</strong><br />
                                        <strong><font color="red">$3,400,000</font></strong>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <table><tr><td colspan="2" height="10"></td></tr></table>

                        <h3>Retail</h3>

                        <div id="navBody">

                            <table style="background-color: #FFFACD; border: none; ">

                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5927802082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Shopping Center</strong><br /><br />
                                        <strong>Visalia, CA</strong><br />
                                        <strong><font color="red">$14,400,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>

                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5938516082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Walgreens</strong><br /><br />
                                        <strong>Cottonwood, UT</strong><br />
                                        <strong><font color="red">$2,100,000</font></strong>
                                    </td>
                                </tr>

                                <tr><td style="height: 5px" colspan="3"></td></tr>
                                <tr><td style="background-color: #DC143C; height: 5px" colspan="3"></td></tr>
                                <tr><td style="height: 5px" colspan="3"></td></tr>


                                <tr>
                                    <td width="335px">
                                        <img src="/images/RecentFundings/5995232082.jpg" width="282">
                                    </td>
                                    <td width="10px"></td>
                                    <td width="615px" style="vertical-align: top">
                                        <br />
                                        <strong>Petco</strong><br /><br />
                                        <strong>Greenville, SC</strong><br />
                                        <strong><font color="red">$1,775,000</font></strong>
                                    </td>
                                </tr>

                            </table>

                        </div>

                    </div>
                </td>
            </tr>

            @*not template end*@

        </table>

    </div>

</fieldset>



<script type="text/javascript">
    $(document).ready(function () {
        //var icons = {
        //    header: "ui-icon-circle-arrow-e",
        //    activeHeader: "ui-icon-circle-arrow-s"
        //};

        $("#accordion").accordion({
            header: "h3",
            //icons: icons,
            active: false,
            collapsible: true,
            heightStyle: "content"
        });
    });
</script>

